<!-- password.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <title>File Share</title>
</head>

<body>
    <h1 style="text-align: center; 
               margin-bottom: 50px;">
        Enter Password
    </h1>

    <% if(locals.error) { %>
        <div style="color: red; margin-bottom: 1rem;">
            Incorrect password
        </div>
        <% } %>

            <form method="post" 
                  style="display: grid; gap: 0.5rem; 
                          grid-template-columns: auto 1fr; 
                         max-width: 500px; margin: 0 auto;">
                <label for="password">Password:</label>
                <input type="password" name="password" 
                       id="password" required>
                <button style="grid-column: span 2;" 
                        type="submit">
                    Download
                </button>
            </form>
</body>

</html>
